main.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  .code,
  .message {
    margin: calc(var(--ace-space) * 3) 0;
  }

  .ace-lottie-wrapper {
    aspect-ratio: 1/1;
    height: 18rem;
    margin: 0 auto;

    .ace-lottie {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  .message {
    opacity: 0.81;
  }

  .path {
    display: table;
    font-family: monospace;
    background: var(--ace-card);
    padding: var(--ace-space) calc(var(--ace-space) * 2);
    border-radius: var(--ace-radius);
    border: 0.1rem solid var(--ace-border);
    box-shadow: var(--ace-shadow-subtle);
    margin: 0 auto calc(var(--ace-space) * 6) auto;
  }
}
