main.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  .code,
  .message {
    margin: calc(var(--ace-space) * 3) 0;
  }

  .ace-lottie-wrapper {
    aspect-ratio: 1/1;
    height: 18rem;
    margin: 0 auto;

    .ace-lottie {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  .message {
    opacity: 0.81;
  }

  .path {
    display: table;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.05);
    padding: 0.27rem 0.6em;
    border-radius: 0.6rem;
    margin: 0 auto calc(var(--ace-space) * 6) auto;
  }
}
