.post {
  width: 100%;
  padding-inline: calc(var(--ace-space) * 3);

  /* 1 column */
  display: grid;
  grid-template-columns: 1fr; /* one full width column */
  grid-template-areas: "main"; /* just showing main */

  /** 1 column */
  @media (max-width: 809px) { /** width <= 809px */
    aside {
      position: fixed;
      top: 8.1rem;
      z-index: var(--ace-z-popover);
      width: 27rem;
      height: calc(100vh - 9.3rem);
      transform: translateX(-27rem);
      transition: transform var(--ace-prop-transition);
      overflow: auto;
      opacity: 0;
      &.visible {
        transform: translateX(0);
        opacity: 1;
        background: var(--ace-popover);
        border: 1px solid var(--ace-border);
        box-shadow: var(--ace-shadow);
        border-radius: calc(var(--ace-radius) * 3);
        padding-inline: calc(var(--ace-space) * 3);
      }
    }
  }

  /* 2 columns */
  @media (min-width: 810px) { /** width > 810px */
    grid-template-areas: "aside main"; /** aside left & main right */
    grid-template-columns: 22.2rem 1fr; /** left column is 22.2rem ... right column takes up remaing space */
    column-gap: calc(var(--ace-space) * 6); /** space between columns */

    aside {
      grid-area: aside;
    }
  }

  /** 1 and 2 columns */
  @media (max-width: 929px) { /** width <= 929px */
    aside {

      .on-this-page {
        display: none;
      }
    
      .posts {
        order: 1;
      }
    
      .unity {
        order: 2;
      }
    }
  }

  /* 3 columns */
  @media (min-width: 930px) { /** width > 930px */
    max-width: var(--ace-content-max-width);
    grid-template-areas: /** defining a 2 rote, 3 column grid */
      "posts main on-this-page"
      "posts main unity";
    grid-template-rows: auto 1fr; /** row 1 => height of on-this-page ... row 2 => takes up the remaining space */
    grid-template-columns: 22.2rem 1fr 22.2rem; /** outside columns are 22.2rem ... main takes up remaining space */

    aside {
      display: contents; /* makes the wrapper disappear visually but keeps its children in the grid */
    }

    .posts {
      grid-area: posts;
    }

    .on-this-page {
      grid-area: on-this-page;
    }

    .unity {
      grid-area: unity;
    }
  }

  aside {
    transition: transform var(--ace-prop-transition);

    .title {
      font-weight: bold;
      margin-block: calc(var(--ace-space) * 5) calc(var(--ace-space) * 2);
    }

    .links {
      transform: translateX(0.9rem);
      border-left: 0.1rem solid var(--ace-primary);

      .ace-loading {
        --ace-loading-size: 3rem;
      }

      a {
        min-height: 2.5rem; /** best for giving us a round number to calculate total height against ace-loading */
        padding-left: 1.5rem; /** best for keeping active dot aligned */
        margin: 0.3rem 0 1.5rem 0; /** best for keeping underline near */
        color: var(--ace-muted-foreground);
        font-size: 1.71rem;
        display: block;
        cursor: pointer;
        transition: var(--ace-transition);
        line-height: 1.5;
        text-decoration: none;
        font-weight: var(--ace-semibold);
        &:hover {
          color: var(--ace-primary);
        }
        &.active { /** when page is active */
          position: relative;
          z-index: var(--ace-z-content);
          color: var(--ace-primary);
        }
        &.active::before { /** gold active dot */
          content: '';
          position: absolute;
          z-index: var(--ace-z-content);
          left: -0.51rem;
          top: 50%;
          transform: translateY(-50%);
          width: 0.9rem;
          height: 0.9rem;
          background: var(--ace-primary);
          border-radius: 50%;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .partners {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .partner {
        width: 100%;
        height: 21rem;
        position: relative;
        z-index: var(--z-aside-partner);
        transform-style: preserve-3d;
        transition: transform 1s ease;
        &.flipped {
          transform: rotateX(180deg);
        }

        .side {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          position: absolute;
          z-index: var(--z-aside-partner);
          inset: 0;
          backface-visibility: hidden;
          border-radius: 1.5rem;
          background: var(--ace-card);
          padding: calc(var(--ace-space) * 3);
          text-align: center;
          box-shadow: var(--ace-shadow);
          border: 0.1rem solid var(--ace-border);
          &.back {
            transform: rotateX(180deg);
          }

          .logo {
            text-align: center;
            width: 100%;
            height: 6rem;

            img {
              max-height: 100%;
              max-width: 90%;
            }
          }

          .company {
            font-weight: 600;
            margin-bottom: 0.9rem;
          }

          .description {
            font-size: 1.71rem;
            opacity: 0.9;
          }
        }
      }
    }
  }

  main {
    grid-area: main;
    /** 
      - In Flexbox, items have a default min-width of auto, which often means they cannot shrink smaller than their content
      - Since your <pre>content is a single, non-breaking line of code, its intrinsic width is huge, and the browser respects this when calculating the main item's size
      - Setting min-width: 0 forces the Flex item (main) to respect the constraints of the parent (.post), allowing it to shrink and preventing it from overflowing the overall container
      - tldr: this min-width style is vital ❤️
    */
    min-width: 0;
    line-height: 1.5;
    transition: var(--ace-transition);

    h1,
    h2,
    h3 {
      margin-bottom: 0;
      scroll-margin-top: 8.1rem;
    }

    h1:first-child {
      margin-top: var(--ace-space);
    }

    table {
      width: 100%;
    }

    img,
    pre {
      max-width: 100%;
    }

    pre {
      width: 100%;
      overflow-x: auto;
      background: var(--ace-card);
      padding: 2.4rem 1.8rem;
      border-radius: 1.8rem;
      box-shadow: var(--ace-shadow);
      border: 0.1rem solid var(--ace-border);

      code {
        display: block; /* override inline */
        width: 100%;
        word-spacing: normal; /** allow word wrapping */
      }
    }

    li p {
      margin-block: var(--ace-space) 0;
    }

    ul,
    ol,
    p {
      margin-block: var(--ace-space);
    }

    p {
      margin-block: var(--ace-space) calc(var(--ace-space) * 3);
    }

    .ace-lottie-wrapper.coins {
      aspect-ratio: 1391 / 695;
      width: 100%;
      margin-top: -12rem;

      .ace-lottie {
        width: 100%;
      }
    }
  }
}

.table-pricing {
  table {
    tr th:last-child,
    tr td:last-child {
      text-align: center;
    }
  }
}

.table-atoms {
  table {
    th {
      text-align: left;
      padding-bottom: 0.3rem;
    }

    tr th:not(:first-child),
    tr td:not(:first-child) {
      text-align: center;
    }
  }
}
