#ace-modal--search {
  .ace-modal__content {
    margin-top: 9rem;
    align-items: start;
  }

  .ace-modal__modal {
    .input {
      position: relative;

      .lens,
      button {
        color: var(--ace-muted-foreground);
        position: absolute;
      }

      .lens {
        top: 1rem;
        left: 1rem;
        color: var(--ace-muted-foreground);
      }

      button {
        top: 0.7rem;
        right: 0.7rem;
        cursor: pointer;
        transition: var(--ace-transition);
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.3rem;
        width: 3.3rem;
        padding: 0;
        &:hover {
          color: white;
        }
        &:focus {
          outline: var(--ace-outline);
        }
      }

      input {
        display: block;
        width: 100%;
        padding: 0.9rem 5.1rem 0.9rem 4.2rem;
        font-size: 2.1rem;
        margin-bottom: calc(var(--ace-space) * 6);
        border-radius: 0.9rem;
        border: 1px solid var(--ace-border);
        &:focus {
          outline: var(--ace-outline);
        }
      }
    }

    .results {
      margin-bottom: calc(var(--ace-space) * 6);
      background: var(--ace-card);

      .result {
        display: block;
        color: var(--ace-foreground);
        padding: calc(var(--ace-space) * 3);
        border: 0.1rem solid var(--ace-border);
        position: relative;
        z-index: var(--ace-z-content);
        &:focus {
          outline: var(--ace-outline);
          outline-offset: var(--ace-outline-offset);
        }

        .title,
        .preview {
          color: var(--ace-foreground);
        }

        .title {
          font-size: 120%;
          font-weight: bold;
        }

        .preview {
          line-height: 1.5;

          mark {
            background: var(--ace-mark);
            padding-inline: var(--ace-space);
            border-radius: var(--ace-radius);
            color: var(--ace-mark-foreground);
            font-weight: var(--ace-bold);
          }
        }
      }
    }

    .no-results {
      padding: 1.5rem;
      background: var(--ace-card);
      box-shadow: var(--ace-shadow);
      margin-bottom: calc(var(--ace-space) * 6);
      text-align: center;
    }

    .search-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--ace-space);

      .keys {
        display: none;
        gap: 0.6rem;
        align-items: center;

        @media only screen and (min-width: 440px) { /* big screen */
          display: flex;
        }

        .key {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.8rem;
          width: 2.1rem;
          color: #27006a;
          box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
          background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
        }

        .label {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
