@keyframes ace-hover-circle {
  from {
    transform: rotate(0deg) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}



@keyframes ace-hover-oval {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateZ(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg) translateZ(0);
  }
}



.ace-hover-circle {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: var(--ace-hover-z-index, 1);
  width: var(--ace-hover-diameter, 4.2rem);
  height: var(--ace-hover-diameter, 4.2rem);

  &:hover::before {
    opacity: 1;
    animation: ace-hover-circle var(--ace-hover-spin-speed, 1.5s) linear infinite;
  }

  &::before {
    /** rainbow */
    top: calc(var(--ace-hover-thickness) * -1);
    left: calc(var(--ace-hover-thickness) * -1);
    right: calc(var(--ace-hover-thickness) * -1);
    bottom: calc(var(--ace-hover-thickness) * -1);
    z-index: var(--ace-hover-z-index-minus-1, 1);
    transition: opacity var(--ace-hover-opacity-speed, 0.6s) ease;
    background: conic-gradient(from 0deg, var(--ace-hover-colors, #ff0000, #ffaa00, #ffff00, #eac603, #00ff00, #00ffff, #0000ff, #ff00ff));

    opacity: 0;
    content: '';
    position: absolute;
    border-radius: 50%;
    will-change: transform, opacity;
    transform: rotate(-180deg) translateZ(0);
  }

  &::after {
    /** bg */
    background: var(--ace-hover-bg);
    top: var(--ace-hover-thickness);
    left: var(--ace-hover-thickness);
    right: var(--ace-hover-thickness);
    bottom: var(--ace-hover-thickness);
    z-index: var(--ace-hover-z-index, 2);

    content: '';
    position: absolute;
    border-radius: 50%;
    transform: translateZ(0);
  }
}



/**
CSS Properties:
  --ace-hover-width: Optional, defaults to 18rem, width of the item we are highlighting
  --ace-hover-height: Optional, defaults to 4.2rem, height of the item we are highlighting
  --ace-hover-bg: Optional, defaults to #010a29, background for the item we are highlighting
  --ace-hover-thickness: Optional, defaults to 0.18rem, the thickness of the rainbow
  --ace-hover-radius: Optional, defaults to 2.1rem, the border-radius for the item we are highlighting
  --ace-hover-z-index: Optional, defaults to 2, z-index for bg (ex: button), if set then you'll also wanna set --ace-hover-z-index-minus-1
  --ace-hover-z-index-minus-1: Optional, defaults to 1, z-index for rainbow
*/
.ace-hover-oval {
  position: relative;
  overflow: hidden;
  border-radius: var(--ace-hover-radius, 2.1rem);
  will-change: transform, opacity;
  width: var(--ace-hover-width, 18rem);
  height: var(--ace-hover-height, 4.2rem);
  &:hover::before {
    opacity: 1;
    animation: ace-hover-oval var(--ace-hover-spin-speed, 2.4s) linear infinite;
  }
  &::before {
    /** rainbow */
    width: var(--ace-hover-width, 18rem);
    height: var(--ace-hover-height, 4.2rem);
    transition: opacity var(--ace-hover-opacity-speed, 0.6s) ease;
    background: conic-gradient(from 0deg, var(--ace-hover-colors, #ff0000, #ffaa00, #ffff00, #eac603, #00ff00, #00ffff, #0000ff, #ff00ff));

    content: '';
    position: absolute;
    z-index: var(--ace-hover-z-index-minus-1, 1);
    border-radius: var(--ace-hover-radius, 2.1rem);
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg) translateZ(0);
    will-change: transform, opacity;
  }
  &::after {
    /** bg */
    top: var(--ace-hover-thickness, 0.18rem);
    right: var(--ace-hover-thickness, 0.18rem);
    bottom: var(--ace-hover-thickness, 0.18rem);
    left: var(--ace-hover-thickness, 0.18rem);
    background: var(--ace-hover-bg, #010a29);
    border-radius: var(--ace-hover-radius, 2.1rem);

    content: '';
    position: absolute;
    z-index: var(--ace-hover-z-index, 2);
    transform: translateZ(0);
  }
}
