/**
 * 🧚‍♀️ How to access:
 *     - Plugin: solid
 *     - import '@ace/dropdown.styles.css'
 */


.ace-dropdown {
  position: absolute;
  z-index: var(--ace-z-popover);
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--ace-prop-transition);
  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
  &.position-topCenter {
    left: 50%;
    transform: translateY(-0.6rem);
  }
  &.position-topRight {
    transform: translateY(-0.6rem);
  }
  &.position-topLeft {
    transform: translateY(-0.6rem);
  }
  &.position-bottomCenter {
    left: 50%;
    transform: translateY(0.57rem);
  }
  &.position-bottomRight {
    transform: translateY(0.57rem);
  }
  &.position-bottomLeft {
    transform: translateY(0.57rem);
  }
}

.ace-dropdown__content {
  overflow-y: auto;
  overflow-x: visible;
  background: var(--ace-popover);
  box-shadow: var(--ace-shadow-subtle);
  border: 0.1rem solid var(--ace-border);
  border-radius: calc(var(--ace-radius) * 3);
}

.ace-dropdown__item,
.ace-dropdown__title {
  color: var(--ace-popover-foreground);
}

.ace-dropdown__title {
  font-weight: var(--ace-semibold);
  color: var(--ace-muted-foreground);
  padding-inline: calc(var(--ace-space) * 3);
  padding-block: calc(var(--ace-space) * 3);
}

.ace-dropdown__divider {
  width: 100%;
  height: 0.1rem;
  margin: var(--ace-space) 0;
  background-color: var(--ace-border);
}

.ace-dropdown__item {
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  gap: calc(var(--ace-space) * 2);
  padding: calc(var(--ace-space) * 2);
  transition: var(--ace-fast-transition);
  border-radius: calc(var(--ace-radius) * 2);
  &:hover {
    background: var(--ace-accent);
    color: var(--ace-accent-foreground);

    svg {
      color: var(--ace-accent-foreground);
    }
  }
  &:focus {
    outline: var(--ace-outline);
    outline-offset: var(--ace-outline-offset);
  }
}
