/**
 * 🧚‍♀️ How to access:
 *     - Plugin: solid
 *     - import '@ace/tabs.styles.css'
 *     - 🚨 `--ace-tabs-background`: Background active color
 *     - 🚨 `--ace-tabs-foreground`: Foreground active color
 */


.ace-tabs--pill,
.ace-tabs--classic {
  .ace-tabs__marker {
    position: absolute;
    z-index: calc(var(--ace-z-content) - 1);
    top: 0;
    left: 0;
    background: var(--ace-tabs-background);
    transition: var(--ace-transition);
    will-change: transform, width, height, opacity;
    pointer-events: none;
  }

  .ace-tabs__active,
  .ace-tabs__tab:hover {
    color: var(--ace-tabs-foreground);
  }
}

.ace-tabs--classic {
  .ace-tabs__marker {
    border-top-left-radius: calc(var(--ace-radius) * 2);
    border-top-right-radius: calc(var(--ace-radius) * 2);
  }
}

.ace-tabs--underline {
  .ace-tabs__marker {
    position: absolute;
    z-index: var(--ace-z-content);
    bottom: 0;
    border-radius: calc(var(--ace-radius) * 6);
    height: 0.3rem;
    background: var(--ace-tabs-background);
    transition: transform 0.3s ease, width 0.3s ease;
    will-change: transform, width;
  }

  .ace-tabs__active,
  .ace-tabs__tab:hover {
    color: var(--ace-tabs-foreground);
  }
}

.ace-tabs--tron {
  .ace-tabs__marker {
    display: none;
  }

  .ace-tabs__tab {
    color: var(--ace-muted-foreground);
    background: var(--ace-card);
    &:hover,
    &.ace-tabs__active {
      color: var(--ace-foreground);
    }
  }
}

.ace-tabs--pill .ace-tabs__marker {
  border-radius: calc(var(--ace-radius) * 9);
}

.ace-tabs__tabs {
  position: relative;
  z-index: var(--ace-z-content);
  display: flex;
  gap: calc(var(--ace-space) * 2);
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ace-tabs__tab {
  position: relative;
  z-index: var(--ace-z-content);
  padding-block: calc(var(--ace-space) * 1.5);
  padding-inline: calc(var(--ace-space) * 3);
  white-space: nowrap;
  cursor: pointer;
  transition: var(--ace-transition);
  color: var(--ace-muted-foreground);
}

.ace-tabs__contents {
  margin-block: var(--ace-space);
}

.ace-tabs__content {
  display: none;
  &.ace-tabs__active {
    display: block;
  }
}
