/**
 * 🧚‍♀️ How to access:
 *     - Plugin: solid
 *     - import '@ace/tron.styles.css'
 *     - 🚨 `--ace-tron-width`: Width of the tron light
 *     - 🚨 `--ace-tron-z-index`: zIndex for tron light
 *     - 🚨 `--ace-tron-speed`: Speed that tron light flows around
 *     - 🚨 `--ace-tron-opacity-speed`: How quickly does the tron light become visible
 *     - 🚨 `--ace-tron-border-radius`: Tron light & inner content radius
 *     - 🚨 `--ace-tron-colors`: Visible tron lightsvisible tron lights
 *     - 🚨 `--ace-tron-bg`: Background for the visible ace-tron__content
*/


@keyframes ace-tron-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ace-tron {
  position: relative;
  border-radius: var(--ace-tron-border-radius);
  padding: var(--ace-tron-width);

  display: flex; /** w/o this the width will be 100%, flex-inline works too */
  flex-direction: column; /** gives us typical display block inner element stacking behavior */
  width: fit-content; /** width is only as wide as its content */
}

.ace-tron--infinite,
.ace-tron--hover:hover {
  .ace-tron__light-wrapper {
    opacity: 1;
  }

  .ace-tron__light {
    animation-play-state: running;
  }
}
  
.ace-tron--off {
  .ace-tron__light-wrapper {
    opacity: 0;
  }

  .ace-tron__light {
    animation-play-state: paused;
  }
}
  
.ace-tron__light-trim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--ace-tron-z-index);
  overflow: hidden;
  border-radius: inherit;
}

.ace-tron__light-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity var(--ace-tron-opacity-speed);
  pointer-events: none;
}

.ace-tron__light {
  content: '';
  animation-play-state: paused;
  background-image: conic-gradient(var(--ace-tron-colors));
  animation: ace-tron-spin var(--ace-tron-speed) linear infinite;

  /** Enlarge light to window size: pick largest dimension so that we fill the viewport */
  /** Divide by -1: Gives us a negative number so that we move out from the content by the length of the viewport */
  position: absolute;
  top: calc(max(100vw, 100vh) / -1);
  right: calc(max(100vw, 100vh) / -1);
  bottom: calc(max(100vw, 100vh) / -1);
  left: calc(max(100vw, 100vh) / -1);
}
  
.ace-tron__content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: calc(var(--ace-tron-z-index) + 1);

  > :first-child {
    border-radius: var(--ace-tron-border-radius);
  }

  .ace-tron__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
